.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.list-panel {
    /* width is dynamic based on props in JSX or removed here if dynamic */
    overflow: hidden;
    transition: width 0.6s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.4s ease;
    z-index: 10;
    white-space: nowrap;
}

.list-panel-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.universe-panel {
    flex: 1;
    position: relative;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.list-panel.collapsed {
    width: 0px;
    opacity: 0;
}

.list-panel.expanded {
    width: 40%;
    opacity: 1;
}